* text=auto

*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.csv text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.pdf binary
*.pptx binary
*.xlsx binary
